PORT=3000
CLIENT_APP_URL=http://localhost:8386
DB_DSN=host=localhost user=postgres password=minhk123 dbname=notflex_project port=5432 sslmode=disable TimeZone=Asia/Ho_Chi_Minh
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dangkhoing95@gmail.com
SMTP_PASS=rohn bgst vmaa hkjb
SMTP_FROM=Notflex <notflex.in@gmail.com>
STRIPE_SECRET_KEY=sk_test_51TagMZRbfu9qptBF9ER5IXo1Vp83LLBpPWdCXZgHofVvpZpEbnhrQVlu1NoZ5o63EFsJ0d7PTs8w2yoNOFnH8b5v00bZGgT6DN
STRIPE_WEBHOOK_SECRET=whsec_1b5c35094be62df61862ed320ed30697eda4ba03432f192c0a2060e1846764bb
GEMINI_API_KEY=AIzaSyCtISxXOTRBx5h7EAiRakylMI_ixPYv45Y
MOCK_GEMINI=true