PORT=3000
DB_DSN=host=localhost user=postgres password=minhk123 dbname=notflex_project port=5432 sslmode=disable TimeZone=Asia/Ho_Chi_Minh
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=dangkhoing95@gmail.com
SMTP_PASS=rohn bgst vmaa hkjb
SMTP_FROM=Notflex <notflex.in@gmail.com>